<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
<header th:replace="layout/layout :: header"></header>
</br>
<div class="container py-5">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <a th:href="@{/nuevoCliente}" class="btn btn-outline-primary">Añadir clientessss</a>
            </h4>
        </div>
        <hr>
        <div class="d-flex flex-wrap justify-content-start m-2">
            <div class="card m-1" th:each="cliente: ${clientes}">
                <div class="card-header" th:if="${#strings.length(cliente.foto)>0}">
                    <img th:if="${#strings.length(cliente.foto)>0}" th:src="@{'/uploads/' + ${cliente.foto}}"
                         th:alt="${cliente.foto}" class="card-img-top" style="width: 100px; height: 150px">
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${cliente.nombre}"></h5>
                    </br>
                    <a class="btn btn-outline-danger btn-xs" th:href="@{/eliminarCliente/} + ${cliente.id}"
                       th:text="Borrar"
                       onclick="return confirm('¿Estas seguro que quieres eliminar este cliente de la base de datos?')"></a>
                    <a class="btn btn-outline-primary btn-xs" th:href="@{/nuevoCliente/} + ${cliente.id}"
                       th:text="Editar"></a>
                    <a class="btn btn-outline-primary btn-xs" th:href="@{/ver/} + ${cliente.id}"
                       th:text="Ver"></a>
                </div>
            </div>
        </div>

        <div  style="margin: 0 auto ">
            <nav th:replace="paginator-nav :: paginator"></nav>
        </div>

    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>


</html>